/*Variables*/

:root {
    --cultured: #F8F7F9;
    --rich-black: #020202;
    --rich-black-secondary: #0e0e0e;
    --green: #06D6A0;
    --yellow: #FFA630;
}

/*---------------------------------------------------*/

body {
    background-color: var(--rich-black);
    color: var(--cultured);
}

/*Backgrounds Section*/

.bg-cultured {
    background-color: var(--cultured) !important;
}

.bg-rich {
    background-color: var(--rich-black);
    color: white;
}

.bg-rich-secondary {
    background-color: var(--rich-black-secondary);
    color: white;
}

.bg-green {
    background-color: var(--green);
    color: white;
}

.bg-yellow {
    background-color: var(--yellow);
    color: var(--rich-black);
}

.text-green {
    color: var(--green);
}

/*---------------------------------------------------*/

/*Nav Section*/
 
.navbar-nav a {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.navbar-nav a {
    color: var(--cultured) !important;
}

.navbar-nav a:hover {
    color: #bdbdbd !important;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/*---------------------------------------------------*/

/*Product Section*/

.product {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.product:hover {
    background-color: var(--green) !important;
    color: white;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    box-shadow: 0 .125rem .25rem rgba(12, 12, 12, 0.075);
}

.product:hover .text-muted {
    color: var(--rich-black) !important;
}

/*---------------------------------------------------*/

/*Form Section*/

.form {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.form:hover {
    background-color: var(--rich-black-secondary) !important;
    color: white;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    box-shadow: 0 .125rem .25rem rgba(12, 12, 12, 0.075);
}